<html>
    <head>
        <title>College,my name</title>
        <link rel="stylesheet" href="back.css">
    </head>
    <body style="background-color: rgb(216, 61, 133) ; display: flex;justify-content: center;height: 100vh; align-items: center;">
       <div style="border-radius:10px;">
         <h1 style="text-align:center ; background-color: rgb(233, 143, 143);border-radius: 20px;">KKR & KSR INSTITUTE OF TECHNOLOGY AND SCIENCES</h1>
        <h3 style="text-align:center;font-style: italic; font-size: 30px; border-radius: 20px;background-color: black;color: white;">Showri Babu</h3>
        </div>
    </body>
</html>