<html>
    <head>
        <title>Markslist</title>
    </head>
    <body>
        <table align="center" border="10px"   border="2px"  bgcolor="yellow"   cellpadding="5px" cellspacing="4px" width="200px" height="300px" >
            <thead bgcolor="red"><td>SNO</td><td>SUBJECT</td></thead>
            <tr><td>1</td><td>DAA</td></tr>
            <tr><td>2</td><td>DWDM</td></tr>
            <tr><td>3</td><td>POC</td></tr>
            <tr><td>4</td><td>CN</td></tr>
            <tr><td>5</td><td>OS</td></tr>

        </table>
    </body>
</html>