<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body align="center">
    <form>
        <table border="4px"   cellpadding="5px"  align="center" cellspacing="5px" bgcolor="yellow">
            <tr >
                <td bgcolor="green" >RollNum:</td>
                 <td><input type="text"  id="num"></td>
            </tr>
            <tr>
                <td bgcolor="green">Name:</td>
                 <td><input type="text" id="name" ></td>
            </tr>
            <tr >
                <td colspan="2" align="center" bgcolor="brown"><input type="submit" value="submit"></td>
                
             </tr>  
        
        </table>

    </form>
</body>
</html>